@import "tailwindcss";

:root {
    --background: #ffffff;
    --foreground: #171717;
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
}

@media (prefers-color-scheme: light) {
    :root {
        --background: #ededed;
        --foreground: #0a0a0a;
    }
}

html {
    scroll-behavior: auto; /* bu yerda auto bo'lishi kerak, chunki lenis o'zi boshqaradi */
}

body {
    background: var(--background);
    color: var(--foreground);
    font-family: Arial, Helvetica, sans-serif;
}

.hovered-btn {
    display: inline-block;
    overflow: hidden;
    position: relative;
    text-decoration: none;
    letter-spacing: 2px;
    -moz-transition: all 0.6s ease-out 0.0s;
    -ms-transition: all 0.6s ease-out 0.0s;
    -o-transition: all 0.6s ease-out 0.0s;
    -webkit-transition: all 0.6s ease-out 0.0s;
    transition: all 0.6s ease-out 0.0s;
}

.hovered-btn:after,
.hovered-btn:before {
    -moz-transition: all 0.4s ease-out 0.0s;
    -ms-transition: all 0.4s ease-out 0.0s;
    -o-transition: all 0.4s ease-out 0.0s;
    -webkit-transition: all 0.4s ease-out 0.0s;
    transition: all 0.4s ease-out 0.0s;
}

.yellow{
    color: aquamarine;
}